
h1{
	color: orange;
	font-size: 30px;
	font-style: Serif;
}

h2{
	color: orange;
	font-size: 15px;
	font-style: Serif;
}

p{
	color: orange;
	font-size: 15px;
	font-style: Arial;
}

ol{
	color: ornage;
	font-size: 15px;
	font-style: Arial;
}

ul{
	color: orange;
	font-size: 15px;
	font-style: Arial;
}
body {background-color: blue;}